<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Movie_Recommender</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Movie Recommender</h1>
            <p>Welcome to the movie recommender by BK</p>
            <p>Please share your ratings for following movies:(0-5)</p>
            <form action="/movie_recommandation">
                XXX <input type="text" name="xXx (2002)" placeholder="0.0-5.0"><br>
                3Amigos <input type="text" name="¡Three Amigos! (1986)" placeholder="0.0-5.0"><br>
                Hellboy <input type="text" name="'Hellboy': The Seeds of Creation (2004)" placeholder="0.0-5.0"><br>
                Salem's Lot <input type="text" name="'Salem's Lot (2004)" placeholder="0.0-5.0"><br>
                71 <input type="text" name="'71 (2014)" placeholder="0.0-5.0"><br>
                <input type ="submit",value="Submit">
            </form> 
            <a href='/movie_recommandation'> Click here 
    </body>
</html>